<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-show="inProgressAssignment.length">
        <h2 class="font-bold mb-2">In Progress</h2>

        <ul>
          <li
            v-for="assignment in inProgressAssignment"
            :key="assignment.id"
          >
            <label>
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>

      <section class="mt-9" v-show="completedAssignment.length">
        <h2 class="font-bold mb-2">Completed</h2>

        <ul>
          <li
            v-for="assignment in completedAssignment"
            :key="assignment"
          >
            <label>
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      app = {
        data() {
          return {
            assignments: [
              {
                id: 1,
                name: "Finish Project",
                complete: false,
              },
              {
                id: 2,
                name: "Read Chapter 3",
                complete: false,
              },
              {
                id: 3,
                name: "Turn in Homework",
                complete: false,
              },
            ],
          };
        },

        computed: {
            inProgressAssignment() {
                return this.assignments.filter(a => !a.complete);
            },
            completedAssignment() {
                return this.assignments.filter(a => a.complete);
            }
        }
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
